<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.CourseMapper">

    <insert id="add">
        insert into Course values(null,#{course_name},#{teacher_id},#{class_id})
    </insert>

    <select id="getCourseByClassId" resultType="com.example.demo.entity.Course">
        select * from Course where class_id=#{class_id}
    </select>

</mapper>